<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
  <parameter name="browsername" value="Firefox"></parameter>
    <classes>
      <class name="com.SauceDemo.Testclass.VerifyloginFunctionality"/>
      <class name="com.SauceDemo.Testclass.verifylogoutfunctionality"/>
      <class name="com.SauceDemo.Testclass.verifyallitempagefunctionality"/>
      <class name="com.SauceDemo.Testclass.verifysingleitempagefunctionality"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
